
<!-- <div class="footer ">
    <div class="socialsdiv">
        <i class="ri-global-line ic"></i> 
        <p>English(IN)</p>&nbsp;&nbsp;
         <p>₹ INR</p>
        <i class="ri-facebook-box-fill ic"></i>
        <i class="ri-instagram-fill ic"></i>
        <i class="ri-github-fill ic"></i>
    </div>
    <div class="companyName">
        &copy &nbsp;<p>2024 Airbnb,Inc.</p>
    </div>
    <div class="linksdiv">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
        <a href="/companydets">Company Details</a>
    </div>
</div>
 -->

    <style>
        .footer {
            position: relative;
            width: 100%;
            background: #FF385C;
            min-height: 100px;
            
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .social-icon,
        .menu {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px 0;
            flex-wrap: wrap;
        }

        .social-icon__item,
        .menu__item {
            list-style: none;
        }

        .social-icon__link {
            font-size: 2rem;
            color: #fff;
            margin: 0 10px;
            display: inline-block;
            transition: 0.5s;
        }

        .social-icon__link:hover {
            transform: translateY(-10px);
        }

        .menu__link {
            font-size: 1.2rem;
            color: #fff;
            margin: 0 10px;
            display: inline-block;
            transition: 0.5s;
            text-decoration: none;
            opacity: 0.75;
            font-weight: 300;
        }

        .menu__link:hover {
            opacity: 1;
        }

        .footer p {
            color: #fff;
            margin: 15px 0 10px 0;
            font-size: 1rem;
            font-weight: 300;
        }
    </style>

    <footer class="footer ms-auto">
        <ul class="social-icon">
            <li class="social-icon__item"><a class="social-icon__link" href="https://www.facebook.com/ankush.diwakar.376">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="https://twitter.com/ankushhh_x07">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="https://www.linkedin.com/in/ankush-diwakar-024181284/">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="https://github.com/ankush-diwakar">
                <ion-icon name="logo-github"></ion-icon>
                </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="https://www.instagram.com/ankushhh_x07?igsh=cnZvcWkwYTJxMWNn">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a></li>
        </ul>
        <ul class="menu">
            <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
            <li class="menu__item"><a class="menu__link" href="#">About</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
            <li class="menu__item"><a class="menu__link" href="/contact">Contact</a></li>
        </ul>
        <p>&copy;2024 Airbnb,Inc.</p>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>
