<% layout('/layouts/boilerplate') -%> <!-- //for adding the boilerplate into this file  -->
<body style="height: 100vh; width: 100vw;">
    <h1 style="height: 70vh; display: flex; align-items: center; justify-content: center;">
        <p style="background-color: rgb(255, 129, 129); padding: 2vh; border-radius: 10px; font-size: 2.5vh; text-transform: lowercase;" >
              <%= err.message %>
             </p>
    </h1>
</body>